<div class="fixed-action-btn">
      <a class="btn-floating btn-large red tooltipped" href="/events/new"
       data-position="left" data-delay="50" data-tooltip="New Event">
        <i class="large material-icons">add</i>
      </a>
</div>

<main class="container valign-wrapper">
  <div class=" row valign loginform">
  <div class="col s12"><h3><%= @event.event_name %></h3></div>
    <div class="col s10">
        <div class="col s12">Description: <%= @event.event_description %></div>
        <div class="col s12">Where: <%= @event.city.city_name %></div>
        <div class="col s12">Start Date: <%= @event.start_date %></div>
        <div class="col s12">Registrations Deadline: <%= @event.registration_deadline %></div>
        <div class="col s12">Gift Exchange Date: <%= @event.event_date %></div>
        <div class="col s12">Minimum Value: <%= @event.min_value %></div>
        <div class="col s12">Maximum Value: <%= @event.max_value %></div>
        <div class="col s12">Public Event: <%= @event.public_event %></div>
        <div class="col s12">Max Participants: <%= @event.max_participants %></div>
        <div class="col s12">Created By: <%= @event.creator.name %></div>
        <div class="col s12">
          <% if @user.events.where(id: @event.id).empty? %>
            <a href="/events/<%= @event.id %>/enroll">Enroll</a>
          <% else %>
            Already Enrolled
          <% end %>
        </div>
    </div>
    <form class="col s2" action="/events/<%= @event.id %>/delete" method="POST">
      <p>
            <% if @event.creator == @user %>             
              <input type="hidden" name="_method" value="DELETE">              
              <a class="btn-floating btn-large waves-effect waves-light red tooltipped"
                href="/events/<%= @event.id %>/edit"
                data-position="left" data-delay="50" data-tooltip="Edit">
                <i class="material-icons">mode_edit</i>
              </a></p>
              <p>
              <button type="submit" class="btn-floating btn-large waves-effect waves-light red tooltipped"
                    onclick="return confirm('Are you sure?')" 
                    data-position="left" data-delay="50" data-tooltip="Delete">
                    <i class="material-icons">delete</i>
              </button></p>
              <p>
                <a class="btn-floating btn-large waves-effect waves-light red tooltipped"
                  href="/events/<%= @event.id %>/invite"
                  data-position="left" data-delay="50" data-tooltip="Invite">
                  <i class="material-icons">person_add</i>
                </a>
              </p>
              <% if @event.registration_deadline < Date.today %>
                <p><a class="btn-floating btn-large waves-effect waves-light red tooltipped"
                      href="/events/<%= @event.id %>/assign_targets"
                      data-position="left" data-delay="50" data-tooltip="Assign Targets">
                    <i class="material-icons">assignment_ind</a>
                </p>
              <% end %>
            <%end%>
      </form>
    </div>
  </div>
</main>


  
