<main class="container"> 
  <div class="row">
    <% @events.each do |event| %>
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= event.event_name %></span>
            <p><%= event.event_description %></p>
            <p><%= event.start_date %></p>
            <p><%= event.registration_deadline %></p>
            <p><%= event.event_date %></p>
            <p><%= event.min_value %></p>
            <p><%= event.max_value %></p>
          </div>
          <% if event.user == @user %>
            <form class="card-action" action="/events/<%= event.id %>/delete" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <a href="/events/<%= event.id %>/edit">Edit</a>
              <a href="#" class="deleteButton">Delete</a>
            </form>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>