<% if @gifted_user == @user %>
  <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">expand_less</i>
        </a>
      <ul>
        <li>
          <a class="btn-floating red tooltipped" onclick="history.go(-1)"
            data-position="left" data-delay="50" data-tooltip="Back">
            <i class="material-icons">arrow_back</i>
          </a>
        </li>
        <a class="btn-floating red tooltipped" href="/users/<%= @user.id %>/gifts/new"
        data-position="left" data-delay="50" data-tooltip="New Item">
          <i class="large material-icons">add</i>
        </a>
      </ul>
  </div>
<% else %>
  <div class="fixed-action-btn">
      <a class="btn-floating btn-large red tooltipped" onclick="history.go(-1)"
      data-position="left" data-delay="50" data-tooltip="Back">
        <i class="large material-icons">arrow_back</i>
      </a>
  </div>
<% end %>

<main class="container loginform"> 
    <ul class="collection with-header">
      <li class="collection-header red lighten-2 white-text"><h3>Wishlist: <em><%= @gifted_user.name %></em></h3></li>
      <% @gifts.each do |gift| %>
        <li class="collection-item row">
          <div class="col s11">
            <%= gift.gift_name %><br>
            <%= gift.gift_description %><br>
            <em>Est. Price: <%= gift.est_value %></em>

          </div>
 <!--          <div class="col s1 right-align">
            <a href="/users/<%= gift.user.id %>/gifts/<%= gift.id %>" 
              class="red-text tooltipped"
              data-position="left" data-delay="50" data-tooltip="Details">
              <i class="material-icons">description</i>
            </a> -->
          <% if gift.user == @user %>
          <form class="col s1 right-align" action="/users/<%= gift.user.id %>/gifts/<%= gift.id %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <a href="/users/<%= gift.user.id %>/gifts/<%= gift.id %>/edit" 
              class="btn-floating waves-effect waves-light red tooltipped"
              data-position="left" data-delay="50" data-tooltip="Edit">
              <i class="material-icons">mode_edit</i>
            </a>
            <button type="submit" class="btn-floating waves-effect waves-light red tooltipped"
                    onclick="return confirm('Are you sure?')" 
                    data-position="left" data-delay="50" data-tooltip="Delete">
                    <i class="material-icons">delete</i>
            </button>
          </form>
        <% end %>
          </div>
        </li>
      <% end %>
    </ul>
</main>